i{
    margin-right:10px;
    float: left;
    &.icon-profile:before{
        content:"\e903";
        font-family: custom-icons;
        font-size: normal;
    }
    &.icon-contact:before{
            content:"\e901";
            font-family: custom-icons;
            font-size: normal;
    }
    &.icon-leaf:before{
            content:"\e902";
            font-family: custom-icons;
            font-size: normal;
    }
    &.icon-experience:before{
            content:"\e900";
            font-family: custom-icons;
            font-size: normal;
    }
    &.icon-award:before{
            content:"\e904";
            font-family: custom-icons;
            font-size: normal;
    }
    &[class^="icon-"], &[class*=" icon-"] {
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    &i.title-icon{
        width:40px;
        line-height:40px;
        text-align: center;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;
        font-size: 26px;
        margin-right: 10px;
        float:left;
    }
}